<h2>Quoi de neuf ?</h2>

<p>
     Oh !  {{ total_posts() }} articles écrits jusqu'à présent.
</p>

<div>
    <h3>Latest Post</h3>
    {{ include('post/_list_post.html.twig', {posts: latest_posts(5) }) }}
</div>

<div>
    <h3>Mosts commented posts</h3>
    {{ include('post/_list_post.html.twig', {posts: most_commented_post(5)}) }}
</div>