{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    {% for post in posts %}
        <article>
            <a href="{{ path('app_post_show', {slug: post.slug}) }}"><h1> {{ post.titre }}</h1></a>
           <p> {{ post.contenu }}</p>
        </article>
    {% endfor %}

{% endblock %}
