{% extends 'layouts/partiels/base.html.twig' %}

{% block title 'Parge l\' article'  %}

{% block body %}
    {% if post is defined and post is not null %}
        <h1 class="h5 mb-4">Partage "{{ post.titre }}" via email</h1>
    {% endif %}
    {% if form is defined and form is not null %}
       {{ form_start(form) }}
            {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary w-100" formnovalidate>Partage l'article</button>
       {{ form_end(form) }}
    {% endif %}
{% endblock %}