<turbo-stream action="update" target="comments-count">
    <template>
        {{ commentCount}} comments
    </template>
</turbo-stream>


<turbo-stream action="append" target="comment-list">
    <template>
        <div>
            {% include 'comments/_comment.html.twig' with { comment, index: commentCount } %}
        </div>
    </template>
</turbo-stream>


<turbo-stream action="update" target="new-comment-form">
    <template>
        <div class="alert alert-success" role="alert">
            Commentaire ajouter avec succes !
        </div>
        {% include'comments/_form.html.twig' with {commentForm} %}
    </template>
</turbo-stream>